%fieldset
  %input{ type: 'radio', value: '0', name: 'style', checked: true }Bar
  %input{ type: 'radio', value: '1', name: 'style' }Circles
  %input{ type: 'radio', value: '2', name: 'style' } Streamgraph
.infobox
  %p
.bars

